
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
  <body>
    {{> header}}
      <p>Hallo, {{user.username}}.</p>
      <h3>Today's Tasks</h3>
      <table title="Today's Tasks" class="table table-striped">
        <tr>
          <th>Due Date</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
        {{#each tasks.today}}
        <tr>
            <td>{{completeBy}}</td>
            <td>{{description}}</td>
            <td>
                <select name="status_{{id}}" task-id="{{id}}">
                    {{#each ../statusOptions}}
                        <option value="{{this}}" {{#if (eq ../status this)}}selected="selected"{{/if}}>{{this}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        {{/each}}
      </table>
 


    <p>
      <h3>This week's Tasks</h3>
      <table title="This week's Tasks" class="table table-striped">
        <tr>
          <th>Due Date</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
        {{#each tasks.thisWeek}}
          <tr>
            <td>{{completeBy}}</td>
            <td>{{description}}</td>
            <td>
                <select name="status_{{id}}" task-id="{{id}}">
                    {{#each ../statusOptions}}
                        <option value="{{this}}" {{#if (eq ../status this)}}selected="selected"{{/if}}>{{this}}</option>
                    {{/each}}
                </select>
            </td>
          </tr>
        {{/each}}
      </table>
    </p>
    <p>
      <h3>Future Tasks</h3>
      <table title='Future Tasks' class="table table-striped">
        <tr>
          <th>Due Date</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
        {{#each tasks.remaining}}
          <tr>
            <td>{{completeBy}}</td>
            <td>{{description}}</td>
            <td>
                <select name="status_{{id}}" task-id="{{id}}">
                    {{#each ../statusOptions}}
                        <option value="{{this}}" {{#if (eq ../status this)}}selected="selected"{{/if}}>{{this}}</option>
                    {{/each}}
                </select>
            </td>
          </tr>
        {{/each}}
      </table>
    </p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>