
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="../CSS/style.css" rel="stylesheet" >
</head>
  <body>
    {{> header}}
    <div class="main-content" >
      <p class="greeting">Hallo, {{user.username}}.</p>
      <h3>Today's Tasks</h3>
      <table title="Today's Tasks" class="table table-striped spacer-table">
        <tr>
          <th class="date-td">Due Date</th>
          <th>Description</th>
          <th>Visit Report ID</th>
          <th>Status</th>
        </tr>
        {{#each tasks.today}}
        <tr>
            <td class="date-td">{{completeBy}}</td>
            <td>{{description}}</td>
            <td>{{visitReportId}}</td>
            <td>
                <select class="form-select" name="status_{{id}}" task-id="{{id}}" visitReport-id="{{visitReportId}}">
                    {{#each ../statusOptions}}
                        <option value="{{this}}" {{#if (eq ../status this)}}selected="selected"{{/if}}>{{this}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        {{/each}}
      </table>
      <h3>This week's Tasks</h3>
      <table title="This week's Tasks" class="table table-striped spacer-table">
        <tr>
          <th class="date-td">Due Date</th>
          <th>Description</th>
          <th>Visit Report ID</th>
          <th>Status</th>
        </tr>
        {{#each tasks.thisWeek}}
          <tr>
            <td class="date-td">{{completeBy}}</td>
            <td>{{description}}</td>
            <td>{{visitReportId}}</td>
            <td>
                <select class="form-select" name="status_{{id}}" task-id="{{id}}"  visitReport-id="{{visitReportId}}">
                    {{#each ../statusOptions}}
                        <option value="{{this}}" {{#if (eq ../status this)}}selected="selected"{{/if}}>{{this}}</option>
                    {{/each}}
                </select>
            </td>
          </tr>
        {{/each}}
      </table>
      <h3>Future Tasks</h3>
      <table title='Future Tasks' class="table table-striped spacer-table">
        <tr>
          <th class="date-td">Due Date</th>
          <th>Description</th>
          <th>Visit Report ID</th>
          <th>Status</th>
        </tr>
        {{#each tasks.remaining }}
          <tr>
            <td class="date-td">{{completeBy}}</td>
            <td>{{description}}</td>
            <td>{{visitReportId}}</td>
            <td>
                <select class="form-select" name="status_{{id}}" task-id="{{id}}"  visitReport-id="{{visitReportId}}">
                    {{#each ../statusOptions}}
                        <option value="{{this}}" {{#if (eq ../status this)}}selected="selected"{{/if}}>{{this}}</option>
                    {{/each}}
                </select>
            </td>
          </tr>
        {{/each}}
      </table>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $('select[name^="status_"]').on('change', function(){

                var taskId = $(this).attr('task-id');
                var newStatus = $(this).val();
                var visitReportId = $(this).attr('visitReport-id');

                $.ajax({
                    url:'/dashboard',
                    type: 'POST',
                    data:{
                        taskId : taskId,
                        newStatus : newStatus,
                        visitReportId : visitReportId,
                    },
                    success: function(response){
                        if(response.error == true){
                            console.log("error");
                        }else{
                            console.log("changed status");
                        }
                    }
                });
            });
        });

        document.querySelectorAll('select[name^="status_"]').forEach(select => {
          function updateSelectClass() {

            select.classList.forEach(cls => {
              if (cls.startsWith("selected-status-")) {
                select.classList.remove(cls);
              }
            });

            const normalized = select.value.replace(/\s+/g, '-');
            select.classList.add(`selected-status-${normalized}`);
          }

          updateSelectClass();
          select.addEventListener('change', updateSelectClass);
        });
    </script>
  </body>
</html>