<!DOCTYPE html>
<html>
  <body>
    <p>This is the Visit Reports page for {{user.username}}.</p>
        <p><a href="/logout">Logout</a></p>
        <hr />
        <p>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
            </ul>
        </p>
        <hr />
        <p>
          <ul>
            <li><a href="/visit-report/form">New Visit Report</a></li>
          </ul>
        </p>
        <hr />
        <p>
          <h3>Visit Reports</h3>
          <table border="2px">
            <tr>
              <th>id</th>
              <th>Topic</th>
              <th>Status</th>
              <th>Type</th>
              <th>Start</th>
              <th>End</th>
              <th>outcome</th>
              <th>primaryContact</th>
              <th>notes</th>
              <th>tasks</th>
              <th>attendees</th>
            </tr>
            {{#each reports}}
            <tr>
              <td>{{id}}</td>
              <td>{{topic}}</td>
              <td>{{status}}</td>
              <td>{{type}}</td>
              <td>{{startTime}}</td>
              <td>{{endTime}}</td>
              <td>{{outcome}}</td>
              <td>{{primaryContact.name}}</td>
              <td>{{notes}}</td>
              <td>
              {{#each tasks}}
                <div>{{description}}</div>
              {{/each}}
             </td>   
             <td>
              {{#each attendees}}
                <div>{{name}}</div>
              {{/each}}
             </td>   
            </tr>
            {{/each}}
          </table>
        </p>
  </body>
</html>