<!DOCTYPE html>       
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
      <link href="../css/style.css" rel="stylesheet" >
  </head>
  <body>
    <!-- <p>This is the Visit Reports page for {{user.username}}.</p> -->
    {{> header}}
    <div class="main-content" >
          <nav class="navbar navbar-light">
            <a class="btn btn-outline-success my-2 my-sm-0" href="/visit-report/form">New Visit Report</a>
          </nav>
          <h3 style="padding-top : 2vh">Visit Reports</h3>
          <table class="table table-striped">
            <tr>
              <th>ID</th>
              <th>Topic</th>
              <th>Status</th>
              <th>Type</th>
              <th class="date-td">Start</th>
              <th class="date-td">End</th>
              <th>Outcome</th>
              <th>Primary Contact</th>
              <th>Notes</th>
              <th>Tasks</th>
              <th>Attendees</th>
            </tr>
            {{#each reports}}
            <tr>
              <td>{{id}}</td>
              <td>{{topic}}</td>
              <td>{{status}}</td>
              <td>{{type}}</td>
              <td class="date-td">{{startTime}}</td>
              <td class="date-td">{{endTime}}</td>
              <td>{{outcome}}</td>
              <td>{{primaryContact.name}}</td>
              <td>{{notes}}</td>
              <td class="task-list">
              {{#each tasks}}
                <div>{{description}}</div>
              {{/each}}
             </td>   
             <td>
              {{#each attendees}}
                <div>{{name}}</div>
              {{/each}}
             </td>   
            </tr>
            {{/each}}
          </table>
 
      </div>
    </body>
</html>